@import './Preflight.css';

@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif;
  height: 100svh;
  --blueColorRGB: 58, 130, 247;

  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

.missive-scroll::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

#floating-email {
  border: 0;
  border-bottom: 2px solid var(--missive-text-color-e);
  border-radius: 0;
  color: inherit;

  &:focus {
    box-shadow: none;
    border-color: var(--missive-blue-color);
  }
}

#floating-zipcode {
  border: 0;
  border-bottom: 2px solid var(--missive-text-color-e);
  border-radius: 0;
  padding: 0 4px;
  background-color: inherit;
  color: inherit;

  &:focus {
    box-shadow: none;
    border-color: var(--missive-blue-color);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

