:root {
  --animation-duration: 225ms;
  --animation-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --checkmark-color: #00b351;
  --accent-color: #2266ed;

  --missive-font-size: 14px;
  --missive-border-radius: 6px;
  --missive-text-color-a: #dededd;
  --missive-text-color-b: #c4c4c3;
  --missive-text-color-c: #a0a1a0;
  --missive-text-color-d: #868685;
  --missive-text-color-e: #595a59;
  --missive-blue-color: rgb(58, 130, 247);
  --missive-light-blue-color: #263240;
  --missive-orange-color: #ff8400;
  --missive-light-orange-color: #443424;
  --missive-green-color: #00b351;
  --missive-red-color: rgb(242, 49, 49);
  --missive-yellow-color: #fdd157;
  --missive-border-color: #484848;
  --missive-light-border-color: #2d2d2d;
  --missive-token-background-color: rgb(21, 22, 23);
  --missive-conversation-list-border-color: #000;
  --missive-conversation-list-background-color: rgb(21, 22, 23);
  --missive-conversations-separator-opacity: 0.2;
  --missive-background-color: rgb(29, 30, 31);
  --missive-light-active-color: #232425;
  --missive-input-background-color: #18191a;
  --missive-section-shadow-width: 1px;
  --missive-section-shadow-color: rgba(0, 0, 0, 0.45);
}
